:root {
  --bg: #0d1117;
  --fg: oklch(from #fa584f calc(l * 1.05) c h);
}

window {
  padding: 0;
  border-radius: 1000px;
  border: solid 1px #3c3c3c;
  background: var(--bg);
}

#container {
  margin: 10px;
}

image,
label {
  color: var(--fg);
}

progressbar:disabled,
image:disabled {
  opacity: 0.5;
}

progressbar {
  min-height: 5px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

/* remaining progress. */
trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: oklch(from var(--fg) calc(l * 0.5) calc(c * 0.3) h);
}

progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: var(--fg);
}
