name: Build & Push
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build & Push Config
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    timeout-minutes: 180
    strategy:
      fail-fast: true # Stop all matrix jobs if one fails
    steps:
      - name: Free Disk Space
        uses: endersonmenezes/free-disk-space@v2
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
          remove_tool_cache: true
          remove_swap: true
          remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
          remove_packages_one_command: true
          remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/share/glade* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell"
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Setup Cachix
        uses: cachix/cachix-action@v16
        with:
          name: darshancommits
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Builder
        run: "cachix watch-exec darshancommits -- \\\n  nix build .#nixosConfigurations.greeed.config.system.build.toplevel \\\n  -L --print-build-logs \n"
