name: Build & Push
permissions:
  contents: read
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build & Push Config
    runs-on: ubuntu-latest
    timeout-minutes: 180
    strategy:
      fail-fast: true # Stop all matrix jobs if one fails
    steps:
      - name: Free Disk Space
        uses: endersonmenezes/free-disk-space@v2
        with:
          remove_android: true
          remove_dotnet: true
          remove_haskell: true
          remove_tool_cache: true
          remove_swap: true
          remove_packages: "azure-cli google-cloud-cli microsoft-edge-stable google-chrome-stable firefox postgresql* temurin-* *llvm* mysql* dotnet-sdk-*"
          remove_packages_one_command: true
          remove_folders: "/usr/share/swift /usr/share/miniconda /usr/share/az* /usr/share/glade* /usr/local/lib/node_modules /usr/local/share/chromium /usr/local/share/powershell"
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          extra_nix_config: "auto-optimise-store = true\nexperimental-features = nix-command flakes\nmax-jobs = auto\nsubstituters = https://cache.nixos.org https://chaotic-nyx.cachix.org https://darshancommits.cachix.org https://helix.cachix.org https://hyprland.cachix.org https://nix-community.cachix.org https://nix-gaming.cachix.org https://nixpkgs-wayland.cachix.org\ntrusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= chaotic-nyx.cachix.org-1:HfnXSw4pj95iI/n17rIDy40agHj12WfF+Gqk6SonIT8= darshancommits.cachix.org-1:aITLC4uLnoX/hHdms6Jfj60BkH9e21DxGPz/IB0YMvw= helix.cachix.org-1:ejp9KQpR1FBI2onstMQ34yogDm4OgU2ru6lIwPvuCVs= hyprland.cachix.org-1:a7pgxzMz7+chwVL3/pzj6jIBMioiJM7ypFP8PwtkuGc= nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs= nix-gaming.cachix.org-1:nbjlureqMbRAxR1gJ/f3hxemL9svXaZF/Ees8vCUUs4= nixpkgs-wayland.cachix.org-1:3lwxaILxMRkVhehr5StQprHdEo4IrE8sRho9R9HOLYA= \n"
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Setup Cachix
        uses: cachix/cachix-action@v16
        with:
          name: darshancommits
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Builder
        run: "cachix watch-exec darshancommits -- \\\n  nix build .#nixosConfigurations.greeed.config.system.build.toplevel \\\n  -L --print-build-logs \n"
